body {
    background-color: darkgrey;
}
.navigation-bar {
    display: flex;
    border: 1px solid red;
}
ul {
    display: flex;
    list-style: none;
    gap: 1rem;
    border: 1px solid black;
}

h3 {
    border: 1px solid blue;
}

.interests{
    display: flex;
    width: 30%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#profile {
    height: 180px;
    width: auto;
    border-radius: 50%;
    padding: 2%;
    
}
